.jumbotron--ex {
  min-height: 96vh;
  background-color: #FFF8E1;
  border-style: solid;
  border-color: #D32F2F;
  border-width: 0.8em;
}
table.ecwid-Checkout-blockTitle button,
div.ecwid-Checkout-PasswordBlock {
  display:none;
}
table.ecwid-Checkout-blockTitle .ecwid-btn {
  display: none;
}
.ecwid-productBrowser-CheckoutPaymentDetailsPage .ecwid-btn.ecwid-btn--secondary.ecwid-btn--sign_in {
  display: none;
}
